<div *ngIf="schedaShow">
        <div class="card mb-2 mx-1">
            <img [src]="schedaShow.show.image.medium" class="card-img-top img-fluid" [alt]="schedaShow.show.name">
            <div class="card-body">
              <h4 class="card-title">{{schedaShow.show.name}}</h4>
              <h6 class="card-text text-danger" *ngFor="let g of schedaShow.show.genres" >{{g}}</h6>
              <button href="#" class="btn btn-primary" (click)="vaiAllaScheda(schedaShow.show.id)">Dettaglio</button>
            </div>
      </div>
</div>

